openapi: 3.0.0

info:
  $ref: "info.yaml"

servers:
  - url: https://e1-kausana.sonqo.io
    description: "Entorno de desarrollo"
  - url: https://e3-kausana.sonqo.io
    description: "Entorno de pruebas"
  - url: https://kausana.sonqo.io
    description: "Entorno de producción"

components:
  securitySchemes:
    $ref: schemas/BearerAuth.yaml

security:
  - bearerAuth: []

paths:
  /partner/{partnerId}/subscriptions:
    post:
      $ref: "paths/post/postSubscription.yaml"
    get:
      $ref: "paths/get/getSubscription.yaml"
  /partner/{partnerId}/subscriptions/{subscriptionId}:
    delete:
      $ref: "paths/delete/deleteSubscription.yaml"
  /partner/{partnerId}/subscriptions/test:
    post:
      $ref: "paths/post/postTestSubscription.yaml"
  /claims/{claimId}/status:
    put:
      $ref: "paths/put/putStatusByClaimId.yaml"
  /claims/{claimId}/documentation:
    get:
      $ref: "paths/get/getClaimDocumentation.yaml"
    post:
      $ref: "paths/post/postClaimDocumentation.yaml"
  /claims/{claimId}/documentation/finish:
    post:
      $ref: "paths/post/postDocumentationFinish.yaml"
  /claims/acquirer:
    get:
      $ref: "paths/get/getClaimsByAcquirerId.yaml"
  /claims/{claimId}:
    get:
      $ref: "paths/get/getClaimById.yaml"
  /claims/acquirer/{acquirerId}/seen:
    post:
      $ref: "paths/post/postClaimsSeenByAcquirerId.yaml"
  /merchants/{merchantId}/claims:
    get:
      $ref: "paths/get/getClaimsByMerchantId.yaml"
  /claims/{claimId}/actions/email:
    post:
      $ref: "paths/post/postSendMerchantEmail.yaml"
