openapi: 3.0.0
info:
  title: "Kausanna API"
  description: |
    Bienvenido a Kausana, el servicio ofrecido por SONQO, dedicado a procesar los contracargos de tus clientes en tiempo real, 
    brindando una solución integral que te permite concentrarte en tu negocio sin preocuparte por la complejidad de las redes de 
    Visa y Mastercard.

    En el mundo de los negocios, los contracargos pueden ser una preocupación constante para los comercios y las empresas.
    La necesidad de enfrentar disputas de pagos, desconocimientos o reclamaciones de clientes puede ser un desafío significativo,
    especialmente cuando se trabaja con múltiples proveedores de tarjetas y redes de pago.
    Es en este punto donde Kausana se convierte en tu mejor aliado.

    Nuestra plataforma Kausana se ha desarrollado pensando en la simplicidad y eficiencia, 
    ofreciendo un sistema escalable y seguro que te permitirá manejar los contracargos de manera rápida y efectiva.
    Olvídate de la complejidad técnica y los detalles burocráticos, Kausana se encarga de abstraer toda la
    complejidad de las redes de Visa y Mastercard para que puedas enfocarte en lo que realmente importa: hacer crecer tu negocio.

    Verificá el estado de nuestras APIs en [Kausana Status](https://kausana.instatus.com/)
  version: 4.0.0
  contact:
    email: ongoing-processes@sonqo.io
  x-logo:
    url: "https://www.naranjax.com/assets/img/logo-nx.svg"
    altText: "SONQO Logo"
servers:
  - url: http://e1-kausana.sonqo.io
  - url: http://e3-kausana.sonqo.io
  - url: http://kausana.sonqo.io
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API Token generated for your account. The token must be prefixed with
        `Bearer `.
security:
  - bearerAuth: []
paths:
  /partner/{partnerId}/subscriptions:
    post:
      summary: Crear una subscripción webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: https://webhook.site/e52e639b-80b7-4493-9588-4ba8d883a945
                subscribedEvents:
                  type: array
                  items:
                    type: string
                    example: chargeback.created
                isActive:
                  type: boolean
                  example: true
              example:
                isActive: true
                url: https://webhook.site/e52e639b-80b7-4493-9588-4ba8d883a945
                subscribedEvents:
                  - chargeback.created
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:37:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: def8be4d-d63d-499d-8df3-d8652d2d32b9
            x-amz-apigw-id:
              schema:
                type: string
                example: Ir0oIFL6IAMFkRQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c167cd-0b2ad9a979be1ff56fb19c99;Sampled=0;lineage=650b6202:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecec06299cba795-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01H69QTYGPZCFWJJMQC9HDC9PC
                      url:
                        type: string
                        example: https://google.com
                      secret:
                        type: string
                        example: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                      subscribedEvents:
                        type: array
                        items:
                          type: string
                          example: chargeback.created
                      partnerId:
                        type: string
                        example: "006837"
                      isActive:
                        type: boolean
                        example: true
                      createdAt:
                        type: string
                        example: "2023-07-26T18:37:01.334Z"
                      updatedAt:
                        type: string
                        example: "2023-07-26T18:37:01.334Z"
              example:
                success: true
                data:
                  id: 01H69QTYGPZCFWJJMQC9HDC9PC
                  url: https://google.com
                  secret: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                  subscribedEvents:
                    - chargeback.created
                  partnerId: "006837"
                  isActive: true
                  createdAt: "2023-07-26T18:37:01.334Z"
                  updatedAt: "2023-07-26T18:37:01.334Z"
        "400":
          description: Bad Request
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:37:19 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "209"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: a60407c8-354f-4625-b193-133d2c771f6e
            x-amz-apigw-id:
              schema:
                type: string
                example: Ir0q6HUIoAMFXHQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c167df-205d9a1315e26e38692e472b;Sampled=0;lineage=650b6202:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecec0d22fa4a795-EZE
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                code: VALIDATION_ERROR
                error:
                  - code: invalid_string
                    validation:
                      startsWith: https://
                    message: >-
                      Webhook URL must be HTTPS. Only secure connections are
                      allowed.
                    path:
                      - url
    get:
      tags:
        - partner > {partnerId}
      summary: Obtener subscripciones webhook
      parameters:
        - name: isActive
          in: query
          schema:
            type: boolean
          example: "true"
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:40:46 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 3079bcef-75d5-40fc-b158-03fde34ac2ab
            x-amz-apigw-id:
              schema:
                type: string
                example: Ir1LMGhloAMEG_g=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c168ad-4dd802e8780ef9a507e264b9;Sampled=0;lineage=b476f86a:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecec5dd1ebea795-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: "200"
                  value:
                    success: true
                    count: 1
                    data:
                      - id: 01H69QY2PXZS6RV33JRZF20PZ1
                        url: https://google.com
                        secret: sq_ArYi9JZLmTtIGtMBOGBzGb27yiLOQI4suQM1DxTCwMM
                        subscribedEvents:
                          - chargeback.created
                        partnerId: "006837"
                        isActive: true
                        createdAt: "2023-07-26T18:38:43.941Z"
                        updatedAt: "2023-07-26T18:38:43.942Z"
                example-1:
                  summary: "200: no subscriptions"
                  value:
                    success: true
                    count: 0
                    data: []
  /partner/{partnerId}/subscriptions/{subscriptionId}:
    delete:
      tags:
        - partner > {partnerId}
      summary: Eliminar una subscripción webhook
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
        - name: subscriptionId
          in: path
          schema:
            type: string
          required: true
          description: The ID of the webhook subscription
          example: 01H9V3F4XJF0PBS2PEVBF01ZA9
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 20:58:18 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "16"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: fe334da4-efbf-4980-bdcb-de67b8f3b357
            x-amz-apigw-id:
              schema:
                type: string
                example: IsJUjFYNIAMEa2g=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c188e9-72968e9346d8cc7c5b7ec701;Sampled=0;lineage=b6bff95c:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecf8f512d471e98-EZE
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
        "404":
          description: Not Found
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 21:05:50 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 3d920b91-2671-428b-9f6d-f2968f1e7d53
            x-amz-apigw-id:
              schema:
                type: string
                example: IsKbIFhsIAMEsWA=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c18aad-49d85eda32053cc50f7abcd1;Sampled=0;lineage=b6bff95c:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecf9a57cd0e1e98-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                exception: Not Found
                code: PARTNER.PARTNER_SUBSCRIPTION_NOT_FOUND
                message: Subscription not found in your account
  /partner/{partnerId}/subscriptions/test:
    post:
      tags:
        - partner > {partnerId}
      summary: Probar las subscripciones webhook
      description: Test the webhook integration by sending a JSON test message.
      requestBody:
        content: {}
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: Successful test
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
        "409":
          description: Conflict
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 20:18:07 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "127"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 8a29d917-5b18-44ad-b2c0-dc842ca4bdf5
            x-amz-apigw-id:
              schema:
                type: string
                example: IsDbtHyXIAMEY9Q=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c17f7d-489d70e13b6cf04940598c98;Sampled=0;lineage=73312fd5:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecf5471a980c813-EZE
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                code: PARTNER.TEST_PARTNER_SUBSCRIPTION_ERROR
                message: Error sending test webhook to some subscriptions
  /claims/{claimId}/status:
    put:
      tags:
        - claims > {claimId}
      summary: Actualizar el estado de una reclamación
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: REJECTED
                  enum:
                    - ACCEPTED
                    - REJECTED
              example:
                status: REJECTED
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "200002031927"
      responses:
        "400":
          description: Bad Request
          headers:
            Date:
              schema:
                type: string
                example: Thu, 10 Aug 2023 20:51:55 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "303"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 75576d0e-a496-49ee-9229-5c25ee64d79e
            x-amz-apigw-id:
              schema:
                type: string
                example: JdkctH-6IAMEo4w=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64d54dea-09efd39b149803b83301d069;Sampled=0;lineage=50ff9de7:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7f4b1e99ff690ec2-EZE
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Bad Request
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: Validation error
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        received:
                          type: string
                          example: ACCEPTED-1
                        code:
                          type: string
                          example: invalid_enum_value
                        options:
                          type: array
                          items:
                            type: string
                            example: ACCEPTED
                        path:
                          type: array
                          items:
                            type: string
                            example: status
                        message:
                          type: string
                          example: >-
                            Invalid enum value. Expected 'ACCEPTED' | 'REJECTED',
                            received 'ACCEPTED-1'
              examples:
                example-0:
                  summary: "400: Validation Error"
                  value:
                    success: false
                    exception: Bad Request
                    code: VALIDATION_ERROR
                    message: Validation error
                    issues:
                      - received: ACCEPTED-1
                        code: invalid_enum_value
                        options:
                          - ACCEPTED
                          - REJECTED
                        path:
                          - status
                        message: >-
                          Invalid enum value. Expected 'ACCEPTED' | 'REJECTED',
                          received 'ACCEPTED-1'
                example-1:
                  summary: "400: Not pending action"
                  value:
                    success: false
                    exception: Bad Request
                    code: KAUSANA.CLAIM_NOT_PENDING_MERCHANT_ACTION
                    message: Claim is not pending merchant action
        "403":
          description: Forbidden
          headers:
            Date:
              schema:
                type: string
                example: Thu, 10 Aug 2023 20:53:10 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 58447a81-9161-4a27-8d12-9d5e07ecaf97
            x-amz-apigw-id:
              schema:
                type: string
                example: JdkocFAoIAMEegQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64d54e35-6c0946cc747f4f78435db657;Sampled=0;lineage=50ff9de7:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7f4b206f4bf10ec2-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Forbidden
                  code:
                    type: string
                    example: KAUSANA.REJECTED_CLAIMS_NOT_IMPLEMENTED
                  message:
                    type: string
                    example: Rejected claims are not implemented yet
              example:
                success: false
                exception: Forbidden
                code: KAUSANA.REJECTED_CLAIMS_NOT_IMPLEMENTED
                message: Rejected claims are not implemented yet
        "404":
          description: Not Found
          headers:
            Date:
              schema:
                type: string
                example: Thu, 10 Aug 2023 20:44:36 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 64bbbf1d-5a29-4887-b6f5-4b71fd385b51
            x-amz-apigw-id:
              schema:
                type: string
                example: JdjX9HsNoAMEsOA=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64d54c32-7a0f8aaf737c76687e8928ee;Sampled=0;lineage=50ff9de7:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7f4b13d97db10ec2-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Not Found
                  code:
                    type: string
                    example: KAUSANA.CLAIM_NOT_FOUND
                  message:
                    type: string
                    example: Claim not found
              example:
                success: false
                exception: Not Found
                code: KAUSANA.CLAIM_NOT_FOUND
                message: Claim not found
  /claims/{claimId}/documentation:
    get:
      summary: Obtener documentación subida de un reclamo
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 18 Oct 2023 13:41:48 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: bb888a0b-d621-4800-b73e-6641c715c52c
            x-amz-apigw-id:
              schema:
                type: string
                example: NAAIPFnCoAMEqbQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-652fe09a-5e786f1f7a67f48e6432976c;Sampled=0;lineage=1b13e5ea:0
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 6e1462e022bea1c291050d7c8b4e098c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GRU3-P5
            X-Amz-Cf-Id:
              schema:
                type: string
                example: uFYrzKGPkQ3zSF1OH_jWUmVQkO1O_sklVnGSc0vamHuSd13baOanYA==
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Set-Cookie:
              schema:
                type: string
                example: >-
                  _cfuvid=XBK_nw8ghmEATcRxtS1O5COtgxvRVeZLfjqmplEctGc-1697636508988-0-604800000;
                  path=/; domain=.sonqo.io; HttpOnly; Secure; SameSite=None
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 81813366dcc608f1-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
    post:
      tags:
        - claims > {claimId}
      summary: Subir documentación de una reclamación
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                extension: png
              properties:
                extension:
                  type: string
                  example: png
                  enum:
                    - png
                    - jpg
                    - jpeg
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 18 Oct 2023 13:41:48 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: bb888a0b-d621-4800-b73e-6641c715c52c
            x-amz-apigw-id:
              schema:
                type: string
                example: NAAIPFnCoAMEqbQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-652fe09a-5e786f1f7a67f48e6432976c;Sampled=0;lineage=1b13e5ea:0
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 6e1462e022bea1c291050d7c8b4e098c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GRU3-P5
            X-Amz-Cf-Id:
              schema:
                type: string
                example: uFYrzKGPkQ3zSF1OH_jWUmVQkO1O_sklVnGSc0vamHuSd13baOanYA==
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Set-Cookie:
              schema:
                type: string
                example: >-
                  _cfuvid=XBK_nw8ghmEATcRxtS1O5COtgxvRVeZLfjqmplEctGc-1697636508988-0-604800000;
                  path=/; domain=.sonqo.io; HttpOnly; Secure; SameSite=None
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 81813366dcc608f1-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                url: >-
                  https://first-presentation-document-bucket-develop.s3.us-east-1.amazonaws.com/1234567890/01HD1GAS6CCWKN5DBCZE0P5YKA?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAYQWCYQEWUTFNZZXC%2F20231018%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20231018T134148Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEI7%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIGcegBc3bwzXrh8HgUchcxPp41pphGQwRQz%2FU3z4nHXzAiEAwlZXuWfblwNh5Zmskn79k%2F1%2FONt4wa9rah9SYmxOz5UqqAMIp%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw1ODU1OTc3NDc1MDEiDHv0rs%2BZ19it0KeUySr8AkTEyEGwGPjeMXgMXBIcjac3WZEKuLOzBp6twC3gwAcMaFqPOsBlqOb5D8u5HGBnA1NReH8CtWST%2FGxv70FlY2KuSKw1bNJWuXfZ%2FsJQ5bDa%2BD2IOIl5ckHwHkiieJFRiJAYlFFXBIgXoMDGZ2cjdkMpB9Wj4aZH7wgQtVTrWjPMaWYlWsMebrLCqwSVdCrxXUUNLt0m32F75vP6SDcTFNB0YH90%2BIGAhVhfJ5cJHeRUCBiz2UlEYKvoPim5Bb2MbBB%2FUcjAN9k2kKwV7NILkq%2F9ABoR%2FUYCt1UG%2FNemUCl2vM1cXvS2KN%2B9z%2FL8%2F8ADWNiJwqyNbUe8Q70kPKhcgRfxt3y2IKW8F1dRhkbL1QXibAaRlekevnSYpq1KYJuEiuGB2JP8BerunexSTgTsGP8Jamyi4io4S4CS4CB7VsL%2F5%2BHSiwgFM%2FSNG0uSNXSBvmXIjDnyelCKnRyB4W8MbaXvoMBf3pc8Yoa4wKm1DIY3QAtQb9kj%2F5cABIMBMJrBv6kGOp0Bylibc7JT4ty31mjZsXPyavneKBDn0I%2BOiSupyzVtfyYU6cS%2BNty5U0JlcVAwGkbc9lKHt6JAas77Sy%2F%2F6%2BtOq%2F4nFCAewmJIwCad8WXUwc2713zRR0jGQHi2wTzZzTdmYobxod3ip6HRgc9GlDKII%2Bmvl4yCGvTjX4vzUEEkdKmWS9GKdCHcSG1SdJqa0vp9sEifXmJZ7tWGsUzbDA%3D%3D&X-Amz-Signature=802d09a524ff27c9f438ed86e85def7457ee8e75d340d949dbcbaf98081372de&X-Amz-SignedHeaders=host&x-id=PutObject
  /claims/{claimId}/documentation/finish:
    post:
      summary: Finalizar la subida de documentación de un reclamo. Cuando se finaliza la subida de documentación, se notifica al sistema que la documentación está completa y se puede proceder con la revisión por parte de las marcas.
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 18 Oct 2023 13:41:48 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: bb888a0b-d621-4800-b73e-6641c715c52c
            x-amz-apigw-id:
              schema:
                type: string
                example: NAAIPFnCoAMEqbQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-652fe09a-5e786f1f7a67f48e6432976c;Sampled=0;lineage=1b13e5ea:0
            X-Cache:
              schema:
                type: string
                example: Miss from cloudfront
            Via:
              schema:
                type: string
                example: >-
                  1.1 6e1462e022bea1c291050d7c8b4e098c.cloudfront.net
                  (CloudFront)
            X-Amz-Cf-Pop:
              schema:
                type: string
                example: GRU3-P5
            X-Amz-Cf-Id:
              schema:
                type: string
                example: uFYrzKGPkQ3zSF1OH_jWUmVQkO1O_sklVnGSc0vamHuSd13baOanYA==
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Set-Cookie:
              schema:
                type: string
                example: >-
                  _cfuvid=XBK_nw8ghmEATcRxtS1O5COtgxvRVeZLfjqmplEctGc-1697636508988-0-604800000;
                  path=/; domain=.sonqo.io; HttpOnly; Secure; SameSite=None
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 81813366dcc608f1-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: >-
                            https://documentations-bucket-develop.s3.us-east-1.amazonaws.com/...
                          description: The URL of the file
                        name:
                          type: string
                          example: 1707395243157/01HP7F44S1S92E63MZ5Z4QC114.png
                          description: The name of the file
                        status:
                          type: string
                          example: unapproved
                          description: The status of the file. Our IA will review the file and approve or reject it.
                          enum:
                            - approved
                            - unapproved
                  quantity:
                    type: integer
                    example: 1
                example:
                  success: true
                  data:
                    - url: https://documentations-bucket-develop.s3.us-east-1.amazonaws.com/...
                      name: 1707395243157/01HP7F44S1S92E63MZ5Z4QC114.png
                      status: unapproved
                  quantity: 1
  /claims/{claimId}/:
    get:
      tags:
        - claims > {claimId}
      summary: Obtener información de una reclamación
      parameters:
        - name: Access-Control-Allow-Credentials
          in: header
          schema:
            type: boolean
          example: "true"
        - name: Access-Control-Allow-Origin
          in: header
          schema:
            type: string
          example: "*"
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "{{apiKey}}"
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "1706540942200"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      openClaims:
                        type: string
                        example: "200002020654, 200002020654"
                      amount:
                        type: string
                        example: 1000.00 ARS
                      lastModifiedDate:
                        type: string
                        example: "Thu Feb 08 2024 12:27:23 GMT+0000 (Coordinated Universal Time)"
                      refundReversalCurrency:
                        type: string
                        example: USD
                      lastModifiedBy:
                        type: string
                        example: system
                      claimId:
                        type: string
                        example: "1707395243157"
                      transactionId:
                        type: string
                        example: >-
                          TI:FIEaEgnM3bwPijwZgjc3Te+Y0ieLbN9ijUugqNSvJmVbO1xs6Jh5iIlmpOpkbax79L8Yj1rBOWBACx+Vj17rzvOepWobpgWNJNdsgHB4ag=#hqCnaMDqmto4wnL+BSUKSdzROqGJ7YELoKhEvluycwKNg3XTzSfaIJhFDkl9hW081B5tTqFFiAwCpcocPdB2My4t7DtSTk63VXDl1CySA8Y=
                      retrievalRequestId:
                        type: string
                        example: "25859113"
                      issuerId:
                        type: string
                        example: 00000006195
                      chargebackReferenceNumber:
                        type: string
                        example: "9000000006"
                      isOpen:
                        type: string
                        example: OPEN
                      currency:
                        type: string
                        example: USD
                      issuerResponseCode:
                        type: string
                        example: APPROVE
                      issuerRejectReasonCode:
                        type: string
                        example: A
                      origin:
                        type: string
                        example: mastercard
                      authCode:
                        type: string
                        example: ab3285c5
                      merchant:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Elves Boutique
                          mcc:
                            type: integer
              example:
                success: true
                data:
                  openClaims: "200002020654, 200002020654"
                  amount: 1000.00 ARS
                  lastModifiedDate: "Thu Feb 08 2024 12:27:23 GMT+0000 (Coordinated Universal Time)"
                  refundReversalCurrency: USD
                  lastModifiedBy: system
                  claimId: "1707395243157"
                  transactionId: >-
                    TI:FIEaEgnM3bwPijwZgjc3Te+Y0ieLbN9ijUugqNSvJmVbO1xs6Jh5iIlmpOpkbax79L8Yj1rBOWBACx+Vj17rzvOepWobpgWNJNdsgHB4ag=#hqCnaMDqmto4wnL+BSUKSdzROqGJ7YELoKhEvluycwKNg3XTzSfaIJhFDkl9hW081B5tTqFFiAwCpcocPdB2My4t7DtSTk63VXDl1CySA8Y=
                  retrievalRequestId: "25859113"
                  issuerId: 00000006195
                  chargebackReferenceNumber: "9000000006"
                  isOpen: OPEN
                  currency: USD
                  issuerResponseCode: APPROVE
                  issuerRejectReasonCode: A
                  origin: mastercard
                  authCode: ab3285c5
                  merchant:
                    name: Elves Boutique
                    mcc: 5611
                    cuit: 30-12345678-9
                    paymentData:
                      paymentMethod: Credit Card
                      QRName: ElvesBoutiqueQR
                    contact:
                      email: contact@elvesboutique.com
                      phone: +54 9 11 2345-6789
                    address:
                      street: Elm Street
                      number: "42"
                      notes: Second Floor
                      country: ARS
                  flow:
                    currentStep: PENDING_REVIEW
  /claims/acquirer/{acquirerId}/:
    get:
      tags:
        - claims > acquirer
      summary: Obtener reclamaciónes usando el ID del adquirente
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "{{apiKey}}"
        - name: acquirerId
          in: path
          schema:
            type: integer
          required: true
          example: "006355"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 16 Aug 2023 17:35:16 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "26"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 88ff7c30-7568-4de6-9a17-8bce04711559
            x-amz-apigw-id:
              schema:
                type: string
                example: Jw5RAGQeoAMECBA=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64dd08d2-56162df8579172eb6001f8a3;Sampled=0;lineage=87791b36:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Set-Cookie:
              schema:
                type: string
                example: >-
                  _cfuvid=Qo3AgpvsM6zVFHtwrRzyXs9UbEmQpCAH7PjQL67L72g-1692207316437-0-604800000;
                  path=/; domain=.sonqo.io; HttpOnly; Secure; SameSite=None
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7f7b6ec31a4a0ec2-EZE
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "207779219414"
                        origin:
                          type: string
                          example: mastercard
                        merchantId:
                          type: string
                          example: "000000000010377"
                        partnerId:
                          type: string
                          example: "006355"
                        seen:
                          type: boolean
                          example: false
                        data:
                          type: object
                          properties:
                            lastModifiedDate:
                              type: string
                              example: "2024-01-10T15:30:00Z"
                            lastModifedBy:
                              type: string
                              example: admin_user
                            refundReversalCurrency:
                              type: string
                              example: ARS
                            primaryAccountNumber:
                              type: string
                              example: "1234567890123456"
                            claimId:
                              type: string
                              example: CLM123456789
                            transactionId:
                              type: string
                              example: TX123456789ABCDE
                            rrn:
                              type: string
                              example: RRN123456789
                            issuerId:
                              type: string
                              example: ISS12345
                            chargebackReferenceNumber:
                              type: string
                              example: CHBK123456789
                            createdAt:
                              type: string
                              example: "2023-12-25T10:00:00Z"
                            isOpen:
                              type: boolean
                              example: true
                            merchantId:
                              type: string
                              example: MER98765
                            claimValue:
                              type: string
                              example: "150.00"
                            currency:
                              type: string
                              example: ARS
                            acquirerId:
                              type: string
                              example: ACQ54321
                            issuerResponseCode:
                              type: string
                              example: "05"
                            issuerRejectReasonCode:
                              type: string
                              example: "13"
                          required:
                            - lastModifiedDate
                            - lastModifedBy
                            - refundReversalCurrency
                            - primaryAccountNumber
                            - claimId
                            - transactionId
                            - rrn
                            - issuerId
                            - chargebackReferenceNumber
                            - createdAt
                            - isOpen
              examples:
                example-0:
                  summary: "200: no claims"
                  value:
                    success: true
                    data: []
                example-1:
                  summary: "200: with claims"
                  value:
                    success: true
                    data:
                      - id: "207779219414"
                        origin: mastercard
                        merchantId: "000000000010377"
                        partnerId: "006355"
                        seen: false
                        data:
                          lastModifiedDate: "2024-01-10T15:30:00Z"
                          lastModifedBy: admin_user
                          refundReversalCurrency: ARS
                          primaryAccountNumber: "1234567890123456"
                          claimId: CLM123456789
                          transactionId: TX123456789ABCDE
                          rrn: RRN123456789
                          issuerId: ISS12345
                          chargebackReferenceNumber: CHBK123456789
                          createdAt: "2023-12-25T10:00:00Z"
                          isOpen: true
                          merchantId: MER98765
                          claimValue: "150.00"
                          currency: ARS
                          acquirerId: ACQ54321
                          issuerResponseCode: "05"
                          issuerRejectReasonCode: "13"
                        status: COLLABORATION_REJECTED
                        mcData:
                          primaryAccountNum: "5200535335702520"
                          clearingNetwork: GCMS
                          dueDate: "2023-12-23"
                          standardClaims: null
                          chargebackDetails: null
                          mastercardRetrievalRequestId: ""
                          claimType: Standard
                          issuerId: "012385"
                          merchantId: "000000000010377"
                          isAccurate: "true"
                          acquirerId: "032314"
                          caseFilingDetails: null
                          createDate: "2023-12-20"
                          retrievalDetails:
                            cancelDate: null
                            retrievalRequestReason: "6342"
                            chargebackRefNum: "9202958551"
                            acquirerResponseCd: null
                            collaborationExpirationDateTime: "2023-12-23T12:10:57"
                            acquirerResponseNotificationStatus: null
                            issuerMemo: null
                            rejectReason: null
                            rejectDate: null
                            requestId: "307779219651"
                            reverseDate: null
                            acquirerResponseDt: null
                            instructionsForHealthcare: null
                            currency: ARS
                            imageReviewDt: null
                            createDate: "2023-12-20"
                            issuerResponseDt: null
                            amount: "138500.00"
                            acquirerRefNum: "08032053309002100003662"
                            imageReviewDecision: null
                            claimId: "207779219414"
                            acquirerMemo: null
                            issuerResponseCd: null
                            docNeeded: NONE
                            primaryAcctNum: "5200535335702520"
                            issuerRejectRsnCd: null
                          authCode: "682190"
                          lastModifiedDate: "2023-12-20"
                          isIssuer: "false"
                          lastModifiedBy: MCOMAPI
                          acquirerRefNum: "08032053309002100003662"
                          claimId: "207779219414"
                          retrievalDetailsList:
                            - cancelDate: null
                              retrievalRequestReason: "6342"
                              chargebackRefNum: "9202958551"
                              acquirerResponseCd: null
                              collaborationExpirationDateTime: "2023-12-23T12:10:57"
                              acquirerResponseNotificationStatus: null
                              issuerMemo: null
                              rejectReason: null
                              rejectDate: null
                              requestId: "307779219651"
                              reverseDate: null
                              acquirerResponseDt: null
                              instructionsForHealthcare: null
                              currency: ARS
                              imageReviewDt: null
                              createDate: "2023-12-20"
                              issuerResponseDt: null
                              amount: "138500.00"
                              acquirerRefNum: "08032053309002100003662"
                              imageReviewDecision: null
                              claimId: "207779219414"
                              acquirerMemo: null
                              issuerResponseCd: null
                              docNeeded: NONE
                              primaryAcctNum: "5200535335702520"
                              issuerRejectRsnCd: null
                          transactionId: >-
                            TI:wRICVszz2hmGh6wVszrLLmyxMbNmuNBt4L1sudb90OqQgu5cMhQn5FA92qasIa8L_JeWjNeZJERtVAgeOD06JnmvqcoS55tFnmou7Pqeg4k=##ACQ
                          isAcquirer: "true"
                          clearingDueDate: "2023-12-23"
                          isOpen: "true"
                          queueName: Acquirer Collaboration Unworked
                          feeDetails: null
                          clearingDetails:
                            programRegistrationId: null
                            acquiringInstitutionIdCode: null
                            installmentPlanType: null
                            pinCaptureCapability: "1"
                            businessCycle: "05"
                            processingCode: "00"
                            cardholderBillingAmount: null
                            primaryAccountNumber: 520053******2520
                            currencyCodeCardholderBilling: "032"
                            cardholderAuthenticationEntity: "9"
                            cardAcceptorBusinessCode: "5732"
                            localTax1IVA: null
                            dataRecord: null
                            cardAcceptorPostalCode: C1425FOC
                            walletIdentifierMdes: null
                            installmentPaymentDataInterestRate: null
                            cardAcceptorTerminalId: "49696258"
                            transactionCategoryIndicator: null
                            partnerIdCode: null
                            currencyExponentCardholderBilling: "2"
                            cardCaptureCapability: "0"
                            settlementData: null
                            cardAcceptorUrl: null
                            receivingInstitutionIdCode: "012699"
                            cardAcceptorCity: CIUDAD AUTONO
                            cardAcceptorClassificationOverrideIndicator: null
                            cardDataOutputCapability: "0"
                            forwardingInstitutionIdCode: "032314"
                            terminalOperatingEnvironment: "4"
                            cardProgramIdentifier: MCC
                            integratedCircuitCardRelatedData: null
                            transactionOriginatorInstitutionIdCode: "032314"
                            legalCorporateName: LUCAS ROMERO
                            specialConditionsIndicator: "N"
                            installmentFee: null
                            originatingMessageFormat: "2"
                            serviceCode: null
                            japanCommonMerchantCode: null
                            rateIndicator: "N"
                            cardholderToAccountCode: "00"
                            qpsPaypassEligibilityIndicator: null
                            tokenRequestorId: null
                            installmentPaymentDataSubsequentInstallmentAmount: null
                            remotePaymentsProgramData: null
                            settlementIndicator: M
                            mastercardAssignedIdOverrideIndicator: "N"
                            transactionDestinationInstitutionIdCode: "012385"
                            accountLevelManagementAccountCategoryCode: "N"
                            cardAcceptorName: MUEBLES-TIENDANUBE
                            cardDataInputCapability: "6"
                            cardholderPresentData: "5"
                            terminalDataOutputCapability: "0"
                            reconciliationCurrencyCode: null
                            cardAcceptorCountry: ARG
                            interchangeRateDesignator: "05"
                            flexCode: null
                            gcmsProductIndentifier: MCS
                            transactionType: Clearing
                            transactionAmountLocal: "13850000"
                            numberOfInstallments: null
                            transitProgramCode: null
                            cardAcceptorIdCode: "000000000010377"
                            businessServiceArrangementTypeCode: "4"
                            cardAcceptorStreetAddress: SANTA MARIA DE ORO
                            currencyConversionAssessmentAmount: null
                            approvalCode: "682190"
                            functionCode: "200"
                            licensedProductIndentifier: MCS
                            currencyCodeTransaction: "032"
                            productOverrideIndicator: null
                            electronicCommerceSecurityLevelIndicator: "9"
                            originalInformationInstallments: null
                            electronicCommerceUcafCollectionIndicator: "0"
                            mastercardAssignedId: null
                            currencyCodeReconciliation: "032"
                            localTransactionDateTime: "231105022701"
                            cardholderFromAccountCode: "00"
                            cardholderAuthenticationCapability: "9"
                            installmentPaymentData: null
                            terminalType: CT6
                            installmentNumber: null
                            installmentPaymentDataNumberInstallments: null
                            cardIssuerReferenceData: null
                            reconciliationAmount: null
                            masterPassIncentiveIndicator: "N"
                            cardholderBillingCurrencyCode: null
                            installmentAmount: null
                            installmentPaymentDataInstallmentFee: null
                            messageReversalIndicator: null
                            businessServiceIdCode: "032001"
                            transactionLifeCycleId: " MCS425WCD1104  "
                            totalTransactionAmount: null
                            cardholderAuthenticationMethod: "9"
                            cardPresentData: "0"
                            currencyExponentTransaction: "2"
                            electronicCommerceCardAuth: "1"
                            installmentData: null
                            transactionCurrencyCode: "032"
                            cardDataInputMode: S
                            additionalAmountDataCode: null
                            installmentPaymentDataBrazil: null
                            installmentParameters: null
                            installmentPaymentDataAnnualPercentageRate: null
                            installmentPaymentDataFirstInstallmentAmount: null
                            mastercardMappingServiceAccountNumber: null
                            messageReasonCode: "1401"
                            centralSiteProcessingDateOriginalMessage: null
                            currencyExponentReconciliation: "2"
                            localMessageReasonCode: null
                            cardAcceptorState: C
                            centralSiteBusinessDate: "231105"
                            acquirerReferenceData: "08032053309002100003662"
                          switchSerialNumber: null
                          claimValue: 0.00 USD
                        createdAt: "2023-12-22T17:13:30.379Z"
                        updatedAt: "2024-01-11T19:56:57.069Z"
  /claims/acquirer/{acquirerId}/seen/:
    post:
      tags:
        - claims > acquirer
      summary: Marcar una reclamación como vista
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                claims:
                  - "200002087418"
      parameters:
        - name: acquirerId
          in: path
          schema:
            type: integer
          required: true
          example: "006355"
      responses:
        "200":
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 16 Aug 2023 17:35:16 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: "26"
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: 88ff7c30-7568-4de6-9a17-8bce04711559
            x-amz-apigw-id:
              schema:
                type: string
                example: Jw5RAGQeoAMECBA=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64dd08d2-56162df8579172eb6001f8a3;Sampled=0;lineage=87791b36:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Set-Cookie:
              schema:
                type: string
                example: >-
                  _cfuvid=Qo3AgpvsM6zVFHtwrRzyXs9UbEmQpCAH7PjQL67L72g-1692207316437-0-604800000;
                  path=/; domain=.sonqo.io; HttpOnly; Secure; SameSite=None
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7f7b6ec31a4a0ec2-EZE
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
              examples:
                example-0:
                  summary: "200: no claims"
                  value:
                    success: true
                    data: []
                example-1:
                  summary: "200: marked as seen"
                  value:
                    message: Claims marked as seen
                    data:
                      total: 1
  /merchants/{merchantId}/claims:
    get:
      tags:
        - claims > merchants
      summary: Obtener reclamaciónes usando el ID del comercio
      parameters:
        - name: Access-Control-Allow-Credentials
          in: header
          schema:
            type: boolean
          example: "true"
        - name: Access-Control-Allow-Origin
          in: header
          schema:
            type: string
          example: "*"
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "{{apiKey}}"
        - name: merchantId
          in: path
          schema:
            type: integer
          required: true
          example: "200002087418"
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
  /claims/{claimId}/actions/email:
    post:
      tags:
        - claims > actions
      summary: Enviar una notificación de nueva reclamación a un merchant
      description: Necesitarás un plan que contenga la funcionalidad de `mailing` para usar este endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              example:
                email: eze.calonge@naranjax.com
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          description: The claim id
          example: "207779219414"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  meta:
                    type: object
                    properties:
                      claimId:
                        type: string
                        example: "207779219414"
              example:
                success: true
                meta:
                  claimId: "207779219414"
