openapi: 3.0.0
info:
  title: 'Kausanna API'
  description: |
    Bienvenido a Kausana, el servicio ofrecido por SONQO, dedicado a procesar los contracargos de tus clientes en tiempo real, 
    brindando una solución integral que te permite concentrarte en tu negocio sin preocuparte por la complejidad de las redes de 
    Visa y Mastercard.

    En el mundo de los negocios, los contracargos pueden ser una preocupación constante para los comercios y las empresas.
    La necesidad de enfrentar disputas de pagos, desconocimientos o reclamaciones de clientes puede ser un desafío significativo,
    especialmente cuando se trabaja con múltiples proveedores de tarjetas y redes de pago.
    Es en este punto donde Kausana se convierte en tu mejor aliado.

    Nuestra plataforma Kausana se ha desarrollado pensando en la simplicidad y eficiencia, 
    ofreciendo un sistema escalable y seguro que te permitirá manejar los contracargos de manera rápida y efectiva.
    Olvídate de la complejidad técnica y los detalles burocráticos, Kausana se encarga de abstraer toda la
    complejidad de las redes de Visa y Mastercard para que puedas enfocarte en lo que realmente importa: hacer crecer tu negocio.

    Verificá el estado de nuestras APIs en [Kausana Status](https://kausana.instatus.com/)
  version: 4.0.0
  contact:
    email: ongoing-processes@sonqo.io
  x-logo:
    url: 'https://www.naranjax.com/assets/img/logo-nx.svg'
    altText: 'SONQO Logo'
servers:
  - url: http://e1-kausana.sonqo.io
  - url: http://e3-kausana.sonqo.io
  - url: http://kausana.sonqo.io
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API Token generated for your account. The token must be prefixed with
        `Bearer `.
security:
  - bearerAuth: []
tags:
  - name: partner
  - name: partner > {partnerId}
  - name: claims > {claimId}
  - name: claims > acquirer
  - name: claims > merchants
  - name: claims > actions
  - name: Security
paths:
  /partner/{partnerId}/subscriptions:
    post:
      tags:
        - partner > {partnerId}
      summary: Crear una subscripción webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                isActive: true
                url: https://webhook.site/e52e639b-80b7-4493-9588-4ba8d883a945
                subscribedEvents:
                  - chargeback.created
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: '006837'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:37:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: def8be4d-d63d-499d-8df3-d8652d2d32b9
            x-amz-apigw-id:
              schema:
                type: string
                example: Ir0oIFL6IAMFkRQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c167cd-0b2ad9a979be1ff56fb19c99;Sampled=0;lineage=650b6202:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecec06299cba795-EZE
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01H69QTYGPZCFWJJMQC9HDC9PC
                      url:
                        type: string
                        example: https://google.com
                      secret:
                        type: string
                        example: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                      subscribedEvents:
                        type: array
                        items:
                          type: string
                          example: chargeback.created
                      partnerId:
                        type: string
                        example: '006837'
                      isActive:
                        type: boolean
                        example: true
                      createdAt:
                        type: string
                        example: '2023-07-26T18:37:01.334Z'
                      updatedAt:
                        type: string
                        example: '2023-07-26T18:37:01.334Z'
              example:
                success: true
                data:
                  id: 01H69QTYGPZCFWJJMQC9HDC9PC
                  url: https://google.com
                  secret: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                  subscribedEvents:
                    - chargeback.created
                  partnerId: '006837'
                  isActive: true
                  createdAt: '2023-07-26T18:37:01.334Z'
                  updatedAt: '2023-07-26T18:37:01.334Z'
        '400':
          description: Bad Request
          headers:
            Date:
              schema:
                type: string
                example: Wed, 26 Jul 2023 18:37:19 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            Content-Length:
              schema:
                type: integer
                example: '209'
            Connection:
              schema:
                type: string
                example: keep-alive
            x-amzn-RequestId:
              schema:
                type: string
                example: a60407c8-354f-4625-b193-133d2c771f6e
            x-amz-apigw-id:
              schema:
                type: string
                example: Ir0q6HUIoAMFXHQ=
            X-Amzn-Trace-Id:
              schema:
                type: string
                example: >-
                  Root=1-64c167df-205d9a1315e26e38692e472b;Sampled=0;lineage=650b6202:0
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 7ecec0d22fa4a795-EZE
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                code: VALIDATION_ERROR
                error:
                  - code: invalid_string
                    validation:
                      startsWith: https://
                    message: >-
                      Webhook URL must be HTTPS. Only secure connections are
                      allowed.
                    path:
                      - url