openapi: 3.0.0
info:
  title: "Kausanna API"
  description: |
    Bienvenido a Kausana, el servicio ofrecido por SONQO, dedicado a procesar los contracargos de tus clientes en tiempo real, 
    brindando una solución integral que te permite concentrarte en tu negocio sin preocuparte por la complejidad de las redes de 
    Visa y Mastercard.

    En el mundo de los negocios, los contracargos pueden ser una preocupación constante para los comercios y las empresas.
    La necesidad de enfrentar disputas de pagos, desconocimientos o reclamaciones de clientes puede ser un desafío significativo,
    especialmente cuando se trabaja con múltiples proveedores de tarjetas y redes de pago.
    Es en este punto donde Kausana se convierte en tu mejor aliado.

    Nuestra plataforma Kausana se ha desarrollado pensando en la simplicidad y eficiencia, 
    ofreciendo un sistema escalable y seguro que te permitirá manejar los contracargos de manera rápida y efectiva.
    Olvídate de la complejidad técnica y los detalles burocráticos, Kausana se encarga de abstraer toda la
    complejidad de las redes de Visa y Mastercard para que puedas enfocarte en lo que realmente importa: hacer crecer tu negocio.

    Verificá el estado de nuestras APIs en [Kausana Status](https://kausana.instatus.com/)
  version: 4.0.10
  contact:
    email: ongoing-processes@sonqo.io
  x-logo:
    url: "https://www.naranjax.com/assets/img/logo-nx.svg"
    altText: "SONQO Logo"
servers:
  - url: https://e1-kausana.sonqo.io
  - url: https://e3-kausana.sonqo.io
  - url: https://kausana.sonqo.io
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API Token generated for your account. The token must be prefixed with
        `Bearer `.

  schemas:
    ChargebackCase:
      type: object
      properties:
        openClaims:
          type: array
          items:
            type: string
          description: Array of open claim identifiers.
        amount:
          type: string
          description: Amount involved in the transaction.
        lastModifiedDate:
          type: string
          description: The last date when the case was modified.
        refundReversalCurrency:
          type: string
          description: Currency of the refund reversal.
        lastModifiedBy:
          type: string
          description: Identifier for the last modifier of the case.
        claimId:
          type: string
          description: Unique identifier for the claim.
        transactionId:
          type: string
          description: Unique identifier for the transaction.
        retrievalRequestId:
          type: string
          description: Unique identifier for the retrieval request.
        issuerId:
          type: string
          description: Identifier for the issuer of the chargeback.
        chargebackReferenceNumber:
          type: string
          description: Reference number for the chargeback.
        isOpen:
          type: string
          description: Status indicating if the case is open.
        currency:
          type: string
          description: Currency of the transaction.
        issuerResponseCode:
          type: string
          description: Response code from the issuer.
        issuerRejectReasonCode:
          type: string
          description: Reason code for rejection by the issuer.
        status:
          type: string
          description: Current status of the chargeback case.
        mcData:
          type: object
          properties:
            caseFilingRespHistory:
              type: array
              items: {}
              description: History of responses for the case filing.
            clearingNetwork:
              type: string
              description: Clearing network information.
            standardClaims:
              type: array
              items:
                type: string
              description: Array of standard claim identifiers.
            chargebackDetails:
              type: array
              items:
                type: object
                properties:
                  chargebackId:
                    type: string
                    description: Unique identifier for the chargeback.
                  editExclusionCode:
                    type: string
                    description: Exclusion code for editing the chargeback.
                  japanCommonMerchantCode:
                    type: string
                    description: Common merchant code for Japan.
                  chargebackRefNum:
                    type: string
                    description: Reference number for the chargeback.
                  documentIndicator:
                    type: string
                    description: Indicator for the document status.
                  refundNotReceivedIndicator:
                    type: string
                    description: Indicator for refund not received status.
                  isPartialChargeback:
                    type: boolean
                    description: Indicates if it is a partial chargeback.
                  rejectReason:
                    type: string
                    description: Reason for rejection of the chargeback.
                  installmentData:
                    type: string
                    description: Installment data related to the chargeback.
                  currency:
                    type: string
                    description: Currency of the chargeback amount.
                  documentStatus:
                    type: string
                    description: Status of the document related to the chargeback.
                  reasonCode:
                    type: string
                    description: Reason code for the chargeback.
                  createDate:
                    type: string
                    description: Creation date of the chargeback record.
                  messageText:
                    type: string
                    description: Text message related to the chargeback case.
                  amount:
                    type: string
                    description: Amount of the chargeback.
                  reconciliationCurrency:
                    type: string
                    description: Currency used for reconciliation.
                  currencyConversionAssessmentCCAIncluded:
                    type: string
                    description: Indicates if currency conversion assessment CCA is included.
                  chargebackType:
                    type: string
                    description: Type of the chargeback.
                  claimId:
                    type: string
                    description: Unique identifier for the claim related to the chargeback.
                  flexCode:
                    type: string
                    description: Flex code related to the chargeback case.
                  creditVoucherStatus:
                    type: string
                    description: Status of the credit voucher.
                  reversal:
                    type: boolean
                    description: Indicates if the chargeback has been reversed.
                  reconciliationAmount:
                    type: string
                    description: Amount used for reconciliation.
                  currencyConversionAssessmentCCAAmount:
                    type: string
                    description: Amount for currency conversion assessment CCA.
                  reversed:
                    type: boolean
                    description: Indicates if the chargeback has been reversed.
          description: Mastercard specific data related to the chargeback case.

security:
  - bearerAuth: []
paths:
  /partner/{partnerId}/subscriptions:
    post:
      summary: Crear una subscripción webhook
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  example: https://webhook.site/e52e639b-80b7-4493-9588-4ba8d883a945
                subscribedEvents:
                  type: array
                  items:
                    type: string
                    example: chargeback.created
                isActive:
                  type: boolean
                  example: true
              example:
                isActive: true
                url: https://webhook.site/e52e639b-80b7-4493-9588-4ba8d883a945
                subscribedEvents:
                  - chargeback.created
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01H69QTYGPZCFWJJMQC9HDC9PC
                      url:
                        type: string
                        example: https://google.com
                      secret:
                        type: string
                        example: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                      subscribedEvents:
                        type: array
                        items:
                          type: string
                          example: chargeback.created
                      partnerId:
                        type: string
                        example: "006837"
                      isActive:
                        type: boolean
                        example: true
                      createdAt:
                        type: string
                        example: "2023-07-26T18:37:01.334Z"
                      updatedAt:
                        type: string
                        example: "2023-07-26T18:37:01.334Z"
              example:
                success: true
                data:
                  id: 01H69QTYGPZCFWJJMQC9HDC9PC
                  url: https://google.com
                  secret: sq_2Wn5QwBo8x3RTOF-az0_f52e5TUzwh0waOAqAtwtht4
                  subscribedEvents:
                    - chargeback.created
                  partnerId: "006837"
                  isActive: true
                  createdAt: "2023-07-26T18:37:01.334Z"
                  updatedAt: "2023-07-26T18:37:01.334Z"
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                code: VALIDATION_ERROR
                error:
                  - code: invalid_string
                    validation:
                      startsWith: https://
                    message: >-
                      Webhook URL must be HTTPS. Only secure connections are
                      allowed.
                    path:
                      - url
    get:
      tags:
        - partner > {partnerId}
      summary: Obtener subscripciones webhook
      parameters:
        - name: isActive
          in: query
          schema:
            type: boolean
          example: "true"
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: "200"
                  value:
                    success: true
                    count: 1
                    data:
                      - id: 01H69QY2PXZS6RV33JRZF20PZ1
                        url: https://google.com
                        subscribedEvents:
                          - chargeback.created
                        partnerId: "006837"
                        isActive: true
                        createdAt: "2023-07-26T18:38:43.941Z"
                        updatedAt: "2023-07-26T18:38:43.942Z"
                example-1:
                  summary: "200: no subscriptions"
                  value:
                    success: true
                    count: 0
                    data: []
  /partner/{partnerId}/subscriptions/{subscriptionId}:
    delete:
      tags:
        - partner > {partnerId}
      summary: Eliminar una subscripción webhook
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
        - name: subscriptionId
          in: path
          schema:
            type: string
          required: true
          description: The ID of the webhook subscription
          example: 01H9V3F4XJF0PBS2PEVBF01ZA9
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                exception: Not Found
                code: PARTNER.PARTNER_SUBSCRIPTION_NOT_FOUND
                message: Subscription not found in your account
  /partner/{partnerId}/subscriptions/test:
    post:
      tags:
        - partner > {partnerId}
      summary: Probar las subscripciones webhook
      description: Test the webhook integration by sending a JSON test message.
      requestBody:
        content: {}
      parameters:
        - name: partnerId
          in: path
          schema:
            type: integer
          required: true
          description: The ID of the partner registered to receive webhooks
          example: "006837"
      responses:
        "200":
          description: Successful test
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
        "409":
          description: Conflict
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                code: PARTNER.TEST_PARTNER_SUBSCRIPTION_ERROR
                message: Error sending test webhook to some subscriptions
  /claims/{claimId}/status:
    put:
      tags:
        - claims > {claimId}
      summary: Actualizar el estado de una reclamación
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  example: REJECTED
                  enum:
                    - ACCEPTED
                    - REJECTED
              example:
                status: REJECTED
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "200002031927"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica si la operación fue exitosa
                  transitionedTo:
                    type: string
                    description: El estado al que se ha cambiado la reclamación
                  data:
                    type: object
              example:
                success: true
                transitionedTo: COLLABORATION_REJECTED
                data: {}
        "400":
          description: Bad Request
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Bad Request
                  code:
                    type: string
                    example: VALIDATION_ERROR
                  message:
                    type: string
                    example: Validation error
                  issues:
                    type: array
                    items:
                      type: object
                      properties:
                        received:
                          type: string
                          example: ACCEPTED-1
                        code:
                          type: string
                          example: invalid_enum_value
                        options:
                          type: array
                          items:
                            type: string
                            example: ACCEPTED
                        path:
                          type: array
                          items:
                            type: string
                            example: status
                        message:
                          type: string
                          example: >-
                            Invalid enum value. Expected 'ACCEPTED' | 'REJECTED',
                            received 'ACCEPTED-1'
              examples:
                example-0:
                  summary: "400: Validation Error"
                  value:
                    success: false
                    exception: Bad Request
                    code: VALIDATION_ERROR
                    message: Validation error
                    issues:
                      - received: ACCEPTED-1
                        code: invalid_enum_value
                        options:
                          - ACCEPTED
                          - REJECTED
                        path:
                          - status
                        message: >-
                          Invalid enum value. Expected 'ACCEPTED' | 'REJECTED',
                          received 'ACCEPTED-1'
                example-1:
                  summary: "400: Not pending action"
                  value:
                    success: false
                    exception: Bad Request
                    code: KAUSANA.CLAIM_NOT_PENDING_MERCHANT_ACTION
                    message: Claim is not pending merchant action
        "403":
          description: Forbidden
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Forbidden
                  code:
                    type: string
                    example: KAUSANA.REJECTED_CLAIMS_NOT_IMPLEMENTED
                  message:
                    type: string
                    example: Rejected claims are not implemented yet
              example:
                success: false
                exception: Forbidden
                code: KAUSANA.REJECTED_CLAIMS_NOT_IMPLEMENTED
                message: Rejected claims are not implemented yet
        "404":
          description: Not Found
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  exception:
                    type: string
                    example: Not Found
                  code:
                    type: string
                    example: KAUSANA.CLAIM_NOT_FOUND
                  message:
                    type: string
                    example: Claim not found
              example:
                success: false
                exception: Not Found
                code: KAUSANA.CLAIM_NOT_FOUND
                message: Claim not found
  /claims/{claimId}/documentation:
    get:
      summary: Obtener documentación subida de un reclamo
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: >-
                            https://documentations-bucket-develop.s3.us-east-1.amazonaws.com/...
                          description: The URL of the file
                        name:
                          type: string
                          example: 1707395243157/01HP7F44S1S92E63MZ5Z4QC114.png
                          description: The name of the file
                        status:
                          type: string
                          example: unapproved
                          description: The status of the file. Our IA will review the file and approve or reject it.
                          enum:
                            - approved
                            - unapproved
                  quantity:
                    type: integer
                    example: 1
                example:
                  success: true
                  data:
                    - url: https://documentations-bucket-develop.s3.us-east-1.amazonaws.com/...
                      name: 1707395243157/01HP7F44S1S92E63MZ5Z4QC114.png
                      status: unapproved
                  quantity: 1
    post:
      tags:
        - claims > {claimId}
      summary: Subir documentación de una reclamación
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                extension: png
              properties:
                extension:
                  type: string
                  example: png
                  enum:
                    - png
                    - jpg
                    - jpeg
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                url: >-
                  https://first-presentation-document-bucket-develop.s3.us-east-1.amazonaws.com/1234567890/...
  /claims/{claimId}/documentation/finish:
    post:
      summary: Finalizar la subida de documentación de un reclamo. Cuando se finaliza la subida de documentación, se notifica al sistema que la documentación está completa y se puede proceder con la revisión por parte de las marcas.
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "207779219414"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates success of operation
                example:
                  success: true
  /claims/{claimId}:
    get:
      tags:
        - claims > {claimId}
      summary: Obtener información de una reclamación
      parameters:
        - name: Access-Control-Allow-Credentials
          in: header
          schema:
            type: boolean
          example: "true"
        - name: Access-Control-Allow-Origin
          in: header
          schema:
            type: string
          example: "*"
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "{{apiKey}}"
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          example: "1706540942200"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      openClaims:
                        type: string
                        example: "200002020654, 200002020654"
                      amount:
                        type: string
                        example: 1000.00 ARS
                      lastModifiedDate:
                        type: string
                        example: "Thu Feb 08 2024 12:27:23 GMT+0000 (Coordinated Universal Time)"
                      refundReversalCurrency:
                        type: string
                        example: USD
                      lastModifiedBy:
                        type: string
                        example: system
                      claimId:
                        type: string
                        example: "1707395243157"
                      transactionId:
                        type: string
                        example: >-
                          TI:FIEaEgnM3bwPijwZgjc3Te+Y0ieLbN9ijUugqNSvJmVbO1xs6Jh5iIlmpOpkbax79L8Yj1rBOWBACx+Vj17rzvOepWobpgWNJNdsgHB4ag=#hqCnaMDqmto4wnL+BSUKSdzROqGJ7YELoKhEvluycwKNg3XTzSfaIJhFDkl9hW081B5tTqFFiAwCpcocPdB2My4t7DtSTk63VXDl1CySA8Y=
                      retrievalRequestId:
                        type: string
                        example: "25859113"
                      issuerId:
                        type: string
                        example: 00000006195
                      chargebackReferenceNumber:
                        type: string
                        example: "9000000006"
                      isOpen:
                        type: string
                        example: OPEN
                      currency:
                        type: string
                        example: USD
                      issuerResponseCode:
                        type: string
                        example: APPROVE
                      issuerRejectReasonCode:
                        type: string
                        example: A
                      origin:
                        type: string
                        example: mastercard
                      authCode:
                        type: string
                        example: ab3285c5
                      merchant:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Elves Boutique
                          mcc:
                            type: integer
              example:
                success: true
                data:
                  openClaims: "200002020654, 200002020654"
                  amount: 1000.00 ARS
                  lastModifiedDate: "Thu Feb 08 2024 12:27:23 GMT+0000 (Coordinated Universal Time)"
                  refundReversalCurrency: USD
                  lastModifiedBy: system
                  claimId: "1707395243157"
                  transactionId: >-
                    TI:FIEaEgnM3bwPijwZgjc3Te+Y0ieLbN9ijUugqNSvJmVbO1xs6Jh5iIlmpOpkbax79L8Yj1rBOWBACx+Vj17rzvOepWobpgWNJNdsgHB4ag=#hqCnaMDqmto4wnL+BSUKSdzROqGJ7YELoKhEvluycwKNg3XTzSfaIJhFDkl9hW081B5tTqFFiAwCpcocPdB2My4t7DtSTk63VXDl1CySA8Y=
                  retrievalRequestId: "25859113"
                  issuerId: 00000006195
                  chargebackReferenceNumber: "9000000006"
                  isOpen: OPEN
                  currency: USD
                  issuerResponseCode: APPROVE
                  issuerRejectReasonCode: A
                  origin: mastercard
                  authCode: ab3285c5
                  merchant:
                    name: Elves Boutique
                    mcc: 5611
                    cuit: 30-12345678-9
                    paymentData:
                      paymentMethod: Credit Card
                      QRName: ElvesBoutiqueQR
                    contact:
                      email: contact@elvesboutique.com
                      phone: +54 9 11 2345-6789
                    address:
                      street: Elm Street
                      number: "42"
                      notes: Second Floor
                      country: ARS
                  flow:
                    currentStep: PENDING_REVIEW
  /claims/acquirer/{acquirerId}:
    get:
      tags:
        - claims > acquirer
      summary: Obtener reclamaciónes usando el ID del adquirente
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "{{apiKey}}"
        - name: acquirerId
          in: path
          schema:
            type: integer
          required: true
          example: "006355"
      responses:
        "200":
          description: OK
          headers:
            content-type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "207779219414"
                        origin:
                          type: string
                          example: mastercard
                        merchantId:
                          type: string
                          example: "000000000010377"
                        partnerId:
                          type: string
                          example: "006355"
                        seen:
                          type: boolean
                          example: false
                        data:
                          type: object
                          properties:
                            lastModifiedDate:
                              type: string
                              example: "2024-01-10T15:30:00Z"
                            lastModifedBy:
                              type: string
                              example: admin_user
                            refundReversalCurrency:
                              type: string
                              example: ARS
                            primaryAccountNumber:
                              type: string
                              example: "1234567890123456"
                            claimId:
                              type: string
                              example: CLM123456789
                            transactionId:
                              type: string
                              example: TX123456789ABCDE
                            rrn:
                              type: string
                              example: RRN123456789
                            issuerId:
                              type: string
                              example: ISS12345
                            chargebackReferenceNumber:
                              type: string
                              example: CHBK123456789
                            createdAt:
                              type: string
                              example: "2023-12-25T10:00:00Z"
                            isOpen:
                              type: boolean
                              example: true
                            merchantId:
                              type: string
                              example: MER98765
                            claimValue:
                              type: string
                              example: "150.00"
                            currency:
                              type: string
                              example: ARS
                            acquirerId:
                              type: string
                              example: ACQ54321
                            issuerResponseCode:
                              type: string
                              example: "05"
                            issuerRejectReasonCode:
                              type: string
                              example: "13"
                          required:
                            - lastModifiedDate
                            - lastModifedBy
                            - refundReversalCurrency
                            - primaryAccountNumber
                            - claimId
                            - transactionId
                            - rrn
                            - issuerId
                            - chargebackReferenceNumber
                            - createdAt
                            - isOpen
              examples:
                success:
                  summary: "200: with claims"
                  value:
                    success: true
                    data:
                      - id: "207779219414"
                        origin: mastercard
                        merchantId: "000000000010377"
                        partnerId: "006355"
                        seen: false
                        data:
                          lastModifiedDate: "2024-01-10T15:30:00Z"
                          lastModifedBy: admin_user
                          refundReversalCurrency: ARS
                          primaryAccountNumber: "1234567890123456"
                          claimId: CLM123456789
                          transactionId: TX123456789ABCDE
                          rrn: RRN123456789
                          issuerId: ISS12345
                          chargebackReferenceNumber: CHBK123456789
                          createdAt: "2023-12-25T10:00:00Z"
                          isOpen: true
                          merchantId: MER98765
                          claimValue: "150.00"
                          currency: ARS
                          acquirerId: ACQ54321
                          issuerResponseCode: "05"
                          issuerRejectReasonCode: "13"
                        status: COLLABORATION_REJECTED
                        mcData:
                          primaryAccountNum: "5200535335702520"
                          clearingNetwork: GCMS
                          dueDate: "2023-12-23"
                          standardClaims: null
                          chargebackDetails: null
                          mastercardRetrievalRequestId: ""
                          claimType: Standard
                          issuerId: "012385"
                          merchantId: "000000000010377"
                          isAccurate: "true"
                          acquirerId: "032314"
                          caseFilingDetails: null
                          createDate: "2023-12-20"
                          retrievalDetails:
                            cancelDate: null
                            retrievalRequestReason: "6342"
                            chargebackRefNum: "9202958551"
                            acquirerResponseCd: null
                            collaborationExpirationDateTime: "2023-12-23T12:10:57"
                            acquirerResponseNotificationStatus: null
                            issuerMemo: null
                            rejectReason: null
                            rejectDate: null
                            requestId: "307779219651"
                            reverseDate: null
                            acquirerResponseDt: null
                            instructionsForHealthcare: null
                            currency: ARS
                            imageReviewDt: null
                            createDate: "2024-01-10T15:30:00Z"
                            issuerResponseDt: null
                            amount: "138500.00"
                            acquirerRefNum: "08032053309002100003662"
                            imageReviewDecision: null
                            claimId: "207779219414"
                            acquirerMemo: null
                            issuerResponseCd: null
                            docNeeded: NONE
                            primaryAcctNum: "5200535335702520"
                            issuerRejectRsnCd: null
                          authCode: "682190"
                          lastModifiedDate: "2023-12-20"
                          isIssuer: "false"
                          lastModifiedBy: MCOMAPI
                          acquirerRefNum: "08032053309002100003662"
                          claimId: "207779219414"
                          retrievalDetailsList:
                            - cancelDate: null
                              retrievalRequestReason: "6342"
                              chargebackRefNum: "9202958551"
                              acquirerResponseCd: null
                              collaborationExpirationDateTime: "2023-12-23T12:10:57"
                              acquirerResponseNotificationStatus: null
                              issuerMemo: null
                              rejectReason: null
                              rejectDate: null
                              requestId: "307779219651"
                              reverseDate: null
                              acquirerResponseDt: null
                              instructionsForHealthcare: null
                              currency: ARS
                              imageReviewDt: null
                              createDate: "2023-12-20"
                              issuerResponseDt: null
                              amount: "138500.00"
                              acquirerRefNum: "08032053309002100003662"
                              imageReviewDecision: null
                              claimId: "207779219414"
                              acquirerMemo: null
                              issuerResponseCd: null
                              docNeeded: NONE
                              primaryAcctNum: "5200535335702520"
                              issuerRejectRsnCd: null
                          transactionId: >-
                            TI:wRICVszz2hmGh6wVszrLLmyxMbNmuNBt4L1sudb90OqQgu5cMhQn5FA92qasIa8L_JeWjNeZJERtVAgeOD06JnmvqcoS55tFnmou7Pqeg4k=##ACQ
                          isAcquirer: "true"
                          clearingDueDate: "2023-12-23"
                          isOpen: "true"
                          queueName: Acquirer Collaboration Unworked
                          feeDetails: null
                          clearingDetails:
                            programRegistrationId: null
                            acquiringInstitutionIdCode: null
                            installmentPlanType: null
                            pinCaptureCapability: "1"
                            businessCycle: "05"
                            processingCode: "00"
                            cardholderBillingAmount: null
                            primaryAccountNumber: 520053******2520
                            currencyCodeCardholderBilling: "032"
                            cardholderAuthenticationEntity: "9"
                            cardAcceptorBusinessCode: "5732"
                            localTax1IVA: null
                            dataRecord: null
                            cardAcceptorPostalCode: C1425FOC
                            walletIdentifierMdes: null
                            installmentPaymentDataInterestRate: null
                            cardAcceptorTerminalId: "49696258"
                            transactionCategoryIndicator: null
                            partnerIdCode: null
                            currencyExponentCardholderBilling: "2"
                            cardCaptureCapability: "0"
                            settlementData: null
                            cardAcceptorUrl: null
                            receivingInstitutionIdCode: "012699"
                            cardAcceptorCity: CIUDAD AUTONO
                            cardAcceptorClassificationOverrideIndicator: null
                            cardDataOutputCapability: "0"
                            forwardingInstitutionIdCode: "032314"
                            terminalOperatingEnvironment: "4"
                            cardProgramIdentifier: MCC
                            integratedCircuitCardRelatedData: null
                            transactionOriginatorInstitutionIdCode: "032314"
                            legalCorporateName: LUCAS ROMERO
                            specialConditionsIndicator: "N"
                            installmentFee: null
                            originatingMessageFormat: "2"
                            serviceCode: null
                            japanCommonMerchantCode: null
                            rateIndicator: "N"
                            cardholderToAccountCode: "00"
                            qpsPaypassEligibilityIndicator: null
                            tokenRequestorId: null
                            installmentPaymentDataSubsequentInstallmentAmount: null
                            remotePaymentsProgramData: null
                            settlementIndicator: M
                            mastercardAssignedIdOverrideIndicator: "N"
                            transactionDestinationInstitutionIdCode: "012385"
                            accountLevelManagementAccountCategoryCode: "N"
                            cardAcceptorName: MUEBLES-TIENDANUBE
                            cardDataInputCapability: "6"
                            cardholderPresentData: "5"
                            terminalDataOutputCapability: "0"
                            reconciliationCurrencyCode: null
                            cardAcceptorCountry: ARG
                            interchangeRateDesign: "05"
                            flexCode: null
                            gcmsProductIndentifier: MCS
                            transactionType: Clearing
                            transactionAmountLocal: "13850000"
                            numberOfInstallments: null
                            transitProgramCode: null
                            cardAcceptorIdCode: "000000000010377"
                            businessServiceArrangementTypeCode: "4"
                            cardAcceptorStreetAddress: SANTA MARIA DE ORO
                            currencyConversionAssessmentAmount: null
                            approvalCode: "682190"
                            functionCode: "200"
                            licensedProductIndentifier: MCS
                            currencyCodeTransaction: "032"
                            productOverrideIndicator: null
                            electronicCommerceSecurityLevelIndicator: "9"
                            originalInformationInstallments: null
                            electronicCommerceUcafCollectionIndicator: "0"
                            mastercardAssignedId: null
                            currencyCodeReconciliation: "032"
                            localTransactionDateTime: "231105022701"
                            cardholderFromAccountCode: "00"
                            cardholderAuthenticationCapability: "9"
                            installmentPaymentData: null
                            terminalType: CT6
                            installmentNumber: null
                            installmentPaymentDataNumberInstallments: null
                            cardIssuerReferenceData: null
                            reconciliationAmount: null
                            masterPassIncentiveIndicator: "N"
                            cardholderBillingCurrencyCode: null
                            installmentAmount: null
                            installmentPaymentDataInstallmentFee: null
                            messageReversalIndicator: null
                            businessServiceIdCode: "032001"
                            transactionLifeCycleId: "MCS425WCD1104"
                            totalTransactionAmount: null
                            cardholderAuthenticationMethod: "9"
                            cardPresentData: "0"
                            currencyExponentTransaction: "2"
                            electronicCommerceCardAuth: "1"
                            installmentData: null
                            transactionCurrencyCode: "032"
                            cardDataInputMode: S
                            additionalAmountDataCode: null
                            installmentPaymentDataBrazil: null
                            installmentParameters: null
                            installmentPaymentDataAnnualPercentageRate: null
                            installmentPaymentDataFirstInstallmentAmount: null
                            mastercardMappingServiceAccountNumber: null
                            messageReasonCode: "1401"
                            centralSiteProcessingDateOriginalMessage: null
                            currencyExponentReconciliation: "2"
                            localMessageReasonCode: null
                            cardAcceptorState: C
                            centralSiteBusinessDate: "231105"
                            acquirerReferenceData: "08032053309002100003662"
                          switchSerialNumber: null
                          claimValue: 0.00 USD
                        createdAt: "2023-12-22T17:13:30.379Z"
                        updatedAt: "2024-01-11T19:56:57.069Z"
  /claims/acquirer/{acquirerId}/seen:
    post:
      tags:
        - claims > acquirer
      summary: Marcar una reclamación como vista
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                claims:
                  - "200002087418"
      parameters:
        - name: acquirerId
          in: path
          schema:
            type: integer
          required: true
          example: "006355"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
              examples:
                example-1:
                  summary: "200: marked as seen"
                  value:
                    message: Claims marked as seen
                    data:
                      total: 1
  /merchants/{merchantId}/claims:
    get:
      tags:
        - claims > merchants
      summary: Obtener reclamaciones usando el ID del comercio
      parameters:
        - name: x-api-key
          in: header
          schema:
            type: string
          example: "key_bd90853656fadc507077e15b4d78d4a989aa8f92287d3ae80ad7d2cea6ace3c1"
          required: true
        - name: merchantId
          in: path
          schema:
            type: integer
          required: true
          example: "200002087418"
      responses:
        "200":
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if the operation was successful.
                  data:
                    type: array
                    description: Contains the data of chargeback cases.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the chargeback case.
                        origin:
                          type: string
                          description: Origin of the chargeback case (e.g., Mastercard).
                        partnerId:
                          type: string
                          description: Identifier for the partner involved in the transaction.
                        seen:
                          type: boolean
                          description: Indicates if the chargeback case has been viewed.
                        data:
                          description: Detailed information about the chargeback case.
                          $ref: "#/components/schemas/ChargebackCase"                         
  /claims/{claimId}/actions/email:
    post:
      tags:
        - claims > actions
      summary: Enviar una notificación de nueva reclamación a un merchant
      description: Necesitarás un plan que contenga la funcionalidad de `mailing` para usar este endpoint.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
              example:
                email: eze.calonge@naranjax.com
      parameters:
        - name: claimId
          in: path
          schema:
            type: integer
          required: true
          description: The claim id
          example: "207779219414"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  meta:
                    type: object
                    properties:
                      claimId:
                        type: string
                        example: "207779219414"
              example:
                success: true
                meta:
                  claimId: "207779219414"